<div class="loginWrapper">
    <div class="container">
      <div class="row ">
        <div class="col-md-8 offset-sm-2">
          <div class="card card-form">
            <div class="logo-container text-centered">
              <img class="img-fluid logo" src="assets/images/logo.png" alt="">
            </div>
            <div class="logo-text">HOMEWORK CHECKER</div>
              <label for="inputEmail">Email Address</label>
              <input type="email" class="form-control" [(ngModel)]="email" name="inputmail" placeholder="E-Mail" required>
              <label for="inputEmail">Password</label>
              <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password" name="password" required>
              <div class="message">{{errorMessage}}</div>
              <div class="btn btn-confirm" (click)=register()>Sign Up</div>

              <hr>
              <h5>Already have an account?</h5>
              <div class="btn btn-confirm" (click)=login()>Login</div>
          </div>
        </div>
      </div>
    </div>