<div class="loginWrapper">
    <div class="container">
      <div class="row ">
        <div class="col-md-8 offset-sm-2">
          <div class="card card-form"> 
            <div class="logo-container text-center">
              <img class="img-fluid logo"src="assets/images/logo.png" alt="">
            </div>
            <div class="logo-text">HOMEWORK CHECKER</div>
            <h2 class=" text-center">Registration</h2>
            <form (submit)="OnSubmit()" class="form-signin">

                <div class="input-group">
                    <label for="username">Username</label>
                    <span class="input-group-addon" id="basic-addon1">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    </span>
                    <input type="test"  class="form-control" [(ngModel)]="username" name ="username" placeholder= "Username" required>
                </div>

                <div class="input-group">
                    <label for="inputEmail">Email Address</label>
                    <span class="input-group-addon" id="basic-addon1">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                    <input type="email"  class="form-control" [(ngModel)]="email" name ="email" placeholder= "E-mail Address" required>
                </div>

  
                <div class="input-group">
                    <label for="inputPassword">Password</label>
                    <span class="input-group-addon" id="basic-addon1">
                        <i class="fa fa-lock fa-5" aria-hidden="true"></i>
                    </span>
                    <input type="password" class="form-control" [(ngModel)]="password" name ="password" placeholder="Password" required>
                </div>
              <button type="submit" class="btn btn-lg btn-primary btn-block" >Register</button>
            </form>
            <div class="btn btn-link btn-default btn-secondary"> <a routerLink="/login" >Cancel</a> </div>
         </div>
        </div>
      </div>  
  </div>
  