<div class="dashboard-background">
  <div class="card">
    <div class="row">
      <div class="col-sm-6">
        <div class="card-title">Students</div>
      </div>
      <div class="col-sm-6">
        <div class="pull-right utility-buttons">
          <div class="btn btn-outline-primary">Add Student
            <i class="fa fa-user-plus" aria-hidden="true"></i>
          </div>
          <div class="btn btn-primary">Track Homework
            <i class="fa fa-check" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 search">
        <input type="text" class="form-control" placeholder="Search...">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th class="col-md-3">Actions</th>
            <th class="col-md-3">Last Name</th>
            <th class="col-md-3">First Name</th>
            <th class="col-md-3">Parent E-mail</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <th>
                <div class="btn btn-action">Edit
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
              </th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th>
                <div class="btn btn-action">Edit
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
              </th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th>
                <div class="btn btn-action">Edit
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
              </th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
      </table>
  </div>
</div>