@import '../../../styles.scss';

.dashboard-wrapper {
    background-color: $light-gray;
    height: 100vh;
    width: calc(100% - 200px);
    overflow: hidden;
    float: right;
}

.form-controls {
    .btn {
        display: inline-block;
        margin-top: 0;
    }
}

span.label {
    color: $dark-gray;	
    color: $dark-gray;
    font-family: Helvetica;	
    font-size: 24px;
    margin:  .5em .25em;
    padding: 0px;
    text-transform: capitalize;
}