<div class="container">
    <div class="row">
        <div class="title">
            Edit Student
        </div>
    </div>
    <div class="row">
        <div class="editStudentWrapper col-sm-6">
            <div class=" col-sm-12 card">
                <div class="card-container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="studentId">
                                Student ID: {{studentInfo.studentId}}
                            </div>
                            <div class="required text-right">
                                <font color="red">*</font>Required
                            </div>
                        </div>
                    </div>
                    <div class="seperator">
                    </div>
                    <form name="editStudentForm" #f="ngForm" autocomplete=off>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-title">First Name
                                    <font color="red">*</font>
                                </div>
                                <input type="string" class="form-control" [ngClass]="{'is-invalid':studentFirstName.invalid&&studentFirstName.touched}" [(ngModel)]="studentInfo.firstName"
                                    name="firstName" #studentFirstName="ngModel" autocomplete="new-password" autocomplete="off"
                                    pattern="[a-zA-Z ]*" required>
                                <div *ngIf="studentFirstName.invalid && (studentFirstName.dirty || studentFirstName.touched)" class="row">
                                    <div *ngIf='studentFirstName.errors.required' class="col-sm-12 text-danger">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>First name is required
                                    </div>
                                    <div *ngIf='studentFirstName.errors?.pattern' class="col-sm-12 text-danger">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Invalid Format
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-title">Last Name
                                    <font color="red">*</font>
                                </div>
                                <input type="text" class="form-control" [ngClass]="{'is-invalid':studentLastName.invalid&&studentLastName.touched}" [(ngModel)]="studentInfo.lastName"
                                    #studentLastName="ngModel" name="lastName" autocomplete="new-password" autocomplete="off"
                                    pattern="[a-zA-Z ]*" required>
                                <div *ngIf="studentLastName.invalid && (studentLastName.dirty || studentLastName.touched)" class="row">
                                    <div *ngIf='studentLastName.errors.required' class="col-sm-12 text-danger">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>Last name is required
                                    </div>
                                    <div *ngIf='studentLastName.errors.pattern' class="col-sm-12 text-danger">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Invalid Format
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" *ngIf="f.valid && f.dirty">
                <div class="col-sm-12 mybutton">
                    <div (click)="saveStudent()" class="submitButton">
                        <div class="buttonText">Save</div>
                        <div class="buttonIcon">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mybutton">
                    <div (click)="delete()" class="deleteButton">
                        <div class="buttonText">Delete</div>
                        <div class="buttonIcon">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        You have unsaved changes. 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
        </div>
    </div>
</div>

