
@import '../../../styles.scss';

.mySideBar{
    height: 100vh;	
    width: 200px;	
    background-color: $dark-gray;
    overflow:hidden;
    display: inline-block;
   
}

.nav-btn {
    border-radius: 6px;
    width:156px;
    height:29px;
    text-transform: capitalize;
    padding: 0;
    border-style: none;
    background-color: $dark-gray;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 200 !important;
    
}

.nav-btn:hover {
    background-color: lighten($dark-gray,15%);
}

.nav-btn.active{
    background-color: #FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color:$dark-gray;
}
.sideNavWrapper{
    width:100%;
    margin-top: 16px;
    background-color: $dark-gray;
    text-align: center;
    

}

.nav-btn i {
    margin-right: 10px;
}
.active{
    background-color: #FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color:$dark-gray;
}
