.loginWrapper {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, #52B678 0%, #8FC7AF 100%);
}
.register-card{
    margin-top: 105px;
    padding: 60px 120px;
}

h1.logoText {
    height: 58px;	
    width: 547px;	
    color: #616161;	
    font-family: Helvetica;	
    font-size: 32px;	
    font-weight: bold;	
    line-height: 58px;
}