<div class="loginWrapper">
  <div class="container">
    <div class="row ">
      <div class="col-md-8 offset-sm-2">
        <div class="card card-form">
          <div class="logo-container text-centered">
            <img class="img-fluid logo" src="assets/images/logo.png" alt="">
          </div>
          <div class="logo-text">HOMEWORK CHECKER</div>
          <div class="form-wrapper">
            <label for="inputEmail">Email Address</label>
            <input type="email" class="form-control" [(ngModel)]="email" name="inputEmail" placeholder="E-Mail" required autocomplete="new-password" autocomplete="off">
            <label for="password">Password</label>
            <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password" name="password" required autocomplete="new-password" autocomplete="off">
            <div class="message">{{errorMessage}}</div>
            <div class="btn btn-confirm" (click)=login()>Login</div>
            <div class="btn btn-outline-primary" (click)=goToRegister()>Register</div>
            <hr>
            
            <div class="textOr">Or</div>
            <div class="googleSignIn">
              <div class="icon-wrapper">
                <img id="googleIcon" src="../../assets/images/google-icon.svg" alt="">
              </div>
              <div class="googleText" (click)="loginWithGoogle()">Sign in with Google</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>