@import '../../../styles.scss';

nav.navbar {
    background: $primary;
}

.logoutButton{
    height: 22px;	
    width: 100px;	
    color: #FFFFFF;	
    font-family: Helvetica;	
    font-size: 18px;	
    font-weight: bold;	
    line-height: 22px;
    cursor: pointer;
}