.title{
    height: 29px;
    width: 143px;
    color: #000000;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    margin-left: 29px;
}

.addStudentWrapper{
    margin-left:19px;

}
.container{
    margin:0px;
}
.card-container{
    margin:20px;
}

.input-title{
    height: 24px;	
    width: 118px;	
    color: #141414;	
    font-family: Helvetica;	
    font-size: 20px;	
    line-height: 24px
}
.required{
    height: 17px;	
 
    color: #000000;	
    font-family: Helvetica;	
    font-size: 14px;	
    line-height: 17px;
}
.submitButton{
    height: 29px;	
    width: 109px;	
    background-color: #52B679;	
    box-shadow: 2px 2px 4px 0 #52B679;
    text-align: center;
    cursor: pointer;
    

}
.buttonText{
    height: 22px;	
    width: 42px;	
    color: #FFFFFF;	
    font-family: Helvetica;	
    font-size: 18px;	
    line-height: 29px;
    display: inline-block; 
}
.buttonIcon{
    height: 18px;	
    width: 16px;	
    font-size: 18px;	
    line-height:29px;
    display: inline-block; 
    margin-left:18px;
    color: #FFFFFF;	
}

