<div class="container">
  <div class="row">
    <div class="col-sm-8 card offset-sm-2">
      <form name="addStudentForm" autocomplete=off>
        <h2 class="form-signin-heading">Add Student</h2>
        <div class="row">
          <div class="col-sm-6"> 
            <h5>First Name</h5>
            <label for="First Name">First Name</label>
            <input 
            type="string"  
            class="form-control" 
            [(ngModel)]="firstName"
            name ="firstName" 
            #studentFirstName ="ngModel"
            autocomplete="new-password" 
            autocomplete="off" 
            ng-pattern="/^[a-zA-Z\s]*$/"
            required>
            <div *ngIf="studentFirstName.invalid && (studentFirstName.dirty || studentFirstName.touched)" class="row">
                <div *ngIf='studentFirstName.errors.required' class="col-sm-12 text-danger">
                  First Name is required
                </div>
                <div *ngIf='studentFirstName.errors.pattern' class="col-sm-12 text-danger">
                    First Name must not contain numbers
                  </div>
            </div>


          </div>
       

          <div class="col-sm-6">
            <h5>Last Name</h5>
            <label for="Last Name">Last Name</label>
            <input type="text"
             class="form-control" 
             [(ngModel)]="lastName" 
             name ="lastName"
             autocomplete="new-password" 
             autocomplete="off"
             required>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br>
  <div class="row" *ngIf="firstName != '' && lastName != ''">
    <div class="col-sm-2 offset-sm-5">
        <button (click)="addStudent()" class="btn btn-lg btn-primary btn-block" >Save</button>
    </div>
  </div>
</div> <!-- /container -->